[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "themes/npq-hugo"]
	path = themes/npq-hugo
	url = https://github.com/saadnpq/npq-hugo.git
